/*
Font: 		AT Brunea
Style: 		Regular
URL: 		https://youworkforthem.com/font/T32201/brunea
Foundry: 	Any-Type Foundry
Foundry: 	https://youworkforthem.com/designer/1311/any-type-foundry
Copyright:	Copyright 2026 Any-Type® Foundry All Rights Reserved.

Version: 	18
Created:	April 02, 2026
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'ATBrunea-Regular';
	src: url('at-brunea-regular.woff2') format('woff2'),
	     url('at-brunea-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
